In [1]:
import great_expectations as ge

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('../../Desktop/ge_data/mosaicData_Birthdays.csv')

In [4]:
df.head()

   Unnamed: 0 state  year  month  day        date wday  births
0           1    AK  1969      1    1  1969-01-01  Wed      14
1           2    AL  1969      1    1  1969-01-01  Wed     174
2           3    AR  1969      1    1  1969-01-01  Wed      78
3           4    AZ  1969      1    1  1969-01-01  Wed      84
4           5    CA  1969      1    1  1969-01-01  Wed     824

In [5]:
D = ge.dataset.PandasDataSet(df.to_dict())

In [6]:
D.expect_column_values_to_be_dateutil_parseable('date')

{'exception_list': [], 'success': True}

In [7]:
D.expect_two_column_values_to_be_subsets('day','month')

NotImplementedError: